<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'verifier/styles.css' %}">
</head>
<body>
    <div class="centered-container">
        <h1>Welcome to SIGNASURE</h1>
        <p>Custom Signature Verificator</p>
        <div class="button-container">
            <a href="{% url 'register' %}">
                <button class="action-button">Register</button>
            </a>
            <a href="{% url 'login' %}">
                <button class="action-button">Login</button>
            </a>
        </div>
    </div>
</body>
</html>
