<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Signature</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'verifier/styles.css' %}">
</head>
<body>
    <div class="centered-container">
        <h2>Upload Signature</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="action-button">Upload</button>
        </form>

        {% if form.errors %}
        <div class="errors">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>
